<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"
    />
    <meta name="keywords" content="샤샵, shaashop, 한국직구, 한인마켓" />
    <meta
      name="description"
      content="한국의 모든 제품이 내 손안에, 한국쇼핑 No.1"
    />
    <meta property="og:title" content="SHAASHOP" />
    <meta property="og:url" content="https://shaashop.com" />
    <meta
      property="og:image"
      content="https://firebasestorage.googleapis.com/v0/b/shaashop-overseas.appspot.com/o/shaashop-meta-img%2Fshaashop-graph-mint.png?alt=media&token=02645bec-1c02-4a2e-b4d4-f349b8b5bb0f"
    />
    <meta
      property="og:description"
      content="한국의 모든 제품이 내 손안에, 한국쇼핑 No.1"
    />
    <meta name="author" content="SHAASHOP" />
    <meta
      name="naver-site-verification"
      content="3ca282760539668d76d675cd2f3e02709c94b824"
    />
    <meta name="robots" content="index,follow" />
    <meta name="google-site-verification" content="-XIQRlHqA-YTlnJzEOW9DcNc2cs5KTbxe2e_u4Bo0Io" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script>
      window.onload = function () {
        location.href =
          "https://chill-swift-5fc.notion.site/78dd33738e38483fb6c5a655626ced43?pvs=4";
      };
    </script>
  </head>
  <body>
    <h1>Wait...</h1>
  </body>
</html>
