<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script>
      window.onload = function () {
        location.href =
          "https://chill-swift-5fc.notion.site/78dd33738e38483fb6c5a655626ced43?pvs=4";
      };
    </script>
  </head>
  <body>
    <h1>Wait...</h1>
  </body>
</html>
